* {
    margin: 0;
    
}
div {
    height: 20vh;
    width: 100vw;
}
.blueinner {
    height: 100px;
    width: 100px;
    background: blue;
    margin-left: 20px;
    margin-top: 20px;
    
    
}
.textbox {
    background: beige;
}

p {
    text-align: center;
    font-size: 20px;
    
    
}
.gray {
    background: grey
 }

.blue {
    background: blue;
} 

.lightgreen {
    background: lightgreen;

}
.green {
    background: green;
}
.yellow {
    background: yellow;
}